.choresText {
   color: green;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 18px;
   font-style: italic;

}

.choresHeading {
   color: greenyellow;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 18px;
   font-style: underline;
}